/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import 'tests';
 @import 'users';
 @import 'devise';

 .nav {
     height: 70px;
     width: 100%;
     background-color: #000;
     padding: 20px;
 }

 .nav .nav-item{
     text-decoration: none;
     color: #fff;
     font-size: 20px;
 }

 .nav .nav-right{
     width: 90%;
     float:right;
     text-align: right;
 }

 .nav .nav-right .grid{
     margin-top: 3px;
     float: right;
     display: grid;
     grid-template-columns: 70px 160px 70px;
 }

 .nav .nav-right .grid .nav-item{
     text-decoration: none;
     color: #fff;
     font-size: 17px;
 }

 .subm{
	border: 1px solid #3D4E80;
	background:  #3D4E80 !important;
	border-radius: 11px;
	outline:0px !important;
}

.subm:hover{
	background-image:linear-gradient(to top, #3D4E80 0%, #7A9CFF) !important;
	border: 1px solid #3D4E80;
}
