<div class="container">
  <div class="tests">
    <div class="d-flex flex-wrap">
        <% @questions.each do |question| %>
          <div class="question_block" id="question_<%= question.id %>">
            <%= link_to question_path(question.id), remote: true do %>
            <button type="button" class="button"><%= 'Test '+ @x.to_s %></button>
          <%end%>
          <% @x+=1 %>
          </div>
        <%end%>
    </div>
  </div>

  <div id="question">
  </div>
</div>
