<div class="image">
  <div class="start text-center">
    <div class="butt">
      <strong class="a"><%= link_to tests_index_path, data:{turbolinks: false} do %> <p>Start</p> <% end %> </strong>
    </div>
  </div>
</div>

<style type="text/css">
  body{
     background-image:  url(https://saiup.org.ua/wp-content/uploads/2015/02/uzhnu-logo.png);
     background-repeat: no-repeat;
  }
</style>